@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap);

:root {
    --bw_primary_color: rgb(87, 164, 255);
    --bw_secondary_color: rgb(0, 79, 172);
    --text_color: #333333;
    --font_family: 'Inter',sans-serif;
    --rounded_sm: 10px;
    --animate: all ease 0.3s;
    --bw_gradient: linear-gradient(90deg, rgb(87, 164, 255) 0%, rgb(0, 79, 172) 100%);
    --bw_gradient2: linear-gradient(0deg, rgb(87, 164, 255) 0%, rgb(0, 79, 172) 100%);
    --bw_shadow: rgba(1, 1, 2, 0.1) 0px 8px 16px
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body, html {
    height: 100%
}

body {
    font-size: 16px;
    color: var(--text_color);
    font-family: var(--font_family)
}

img {
    max-width: 100%
}

li, ul {
    list-style: none
}

.body_bg {
    background-image: url(../images/home_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: #fff;
    text-align: center;
    padding: 8px 0
}

.logo img {
    max-height: 50px
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 100%
}

.main_container {
    min-height: calc(100vh - 70px);
    padding: 0 15px;
}

.steps {
    margin: 50px auto;
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 30px 20px;
    border-radius: var(--rounded_sm);
    min-height:300px;
}


.services_sec .card_box {
    text-align: center;
}

    .services_sec .card_box img {
        max-height: 80px;
    }

.card_box {
    background: #fff;
    padding: 30px 20px;
    border-radius: var(--rounded_sm);
    transition: var(--animate);
    position: relative;
    z-index: 0;
    box-shadow: var(--bw_shadow)
}

    .card_box::before {
        content: '';
        border-radius: 3px 3px 0 0;
        background-color: var(--bw_primary_color);
        background: var(--bw_gradient);
        width: 80px;
        left: 50%;
        margin-left: -40px;
        height: 2px;
        bottom: 0;
        z-index: 2;
        position: absolute
    }

.qr_codes .card_box {
    max-width: 300px;
    text-align: center;
    margin: 15px
}

.qr_codes {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: flex-start;
    flex-wrap: wrap
}

.wash_name {
    margin: 10px 0
}

.wash_price {
    font-size: 24px;
    font-weight: 700
}

.cabs_type_div .card_box {
    text-align: center;
    margin: 5px auto;
    display: flex;
    align-items: center
}

.cab_img {
    width: 250px
}

.cabs_type_div .card_info {
    width: calc(100% - 250px);
    text-align: center
}

.bw_btn {
    color: #fff;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 25px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-size: 300% 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer
}

    .bw_btn:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out
    }

.gra_btn {
    background-image: linear-gradient(to right,var(--bw_primary_color),var(--bw_secondary_color),var(--bw_secondary_color),var(--bw_primary_color));
    box-shadow: 0 4px 15px 0 rgba(179,129,112,.25)
}

.card_info .bw_btn {
    margin: 25px auto 0 auto
}

.sec_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px
}

.input_box {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px
}

.accent {
    accent-color: rgb(87, 164, 255);
}

.check_Danger {
    box-shadow: inset 0 0 0px 3px rgb(255 0 0 / 50%);
}
.hide_term_lbl {
    display: none !important;
}
.input_box input:focus-visible {
    outline: 3px solid #ddd
}

.input_box label {
    font-size: 14px
}

    .input_box label sup {
        color: var(--bw_secondary_color);
        margin-left: 3px
    }

.input_box input {
    background-color: #fff;
    height: 34px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 3px;
    text-indent: 10px;
    margin-top: 5px
}

input[type=checkbox] {
    width: 20px;
    height: 20px
}

.checkbox_box input, .checkbox_box label {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 14px;
}

.checkbox_box {
    margin-top: 25px
}

.half_div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap
}

    .half_div div {
        flex-basis: calc(50% - 8px)
    }

.payment_summary {
    text-align: right;
    margin-top: 25px
}

    .payment_summary div {
        margin-bottom: 5px
    }

        .payment_summary div span {
            width: 80px;
            display: inline-block
        }

.btn_grp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.thank_sec .card_box, .cab_sec .card_box {
    box-shadow: none;
}

.thank_sec .cab_img {
    position: relative;
}

    .thank_sec .cab_img::before {
        position: absolute;
        background-image: url('../images/paid_mark.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 80px;
        content: '';
        right: -10px;
        top: 5px;
    }

.swiper .swiper-wrapper {
    padding-bottom: 15px;
}

.swiper .card_box {
    margin: 10px;
    cursor: pointer;
}


.modal {
    position: fixed;
    z-index: 10000; /* 1 */
    top: 0;
    left: 0;
    /*visibility: hidden;*/
    width: 100%;
    height: 100%;
}

    .modal.is-visible {
        visibility: visible;
    }

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 6em;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
    transform: translateX(-50%) !important;
    max-width: 500px;
    left: 50%;
    border-radius: var(--rounded_sm);
    overflow: hidden;
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modal-header,
.modal-content {
    padding: 1em;
}

.modal-header {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
    border-bottom: 1px solid #e8e8e8;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: #aaa;
    background: none;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

    .modal-close:hover {
        color: #777;
    }

.modal-heading {
    font-size: 1.125em;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
    margin-top: 0;
}

.modal-content > *:last-child {
    margin-bottom: 0;
}

.payment_sec, .thank_sec {
    display: none;
}



@media screen and (max-width:767px) {
    .summary_sec div {
        flex-basis: 100%;
    }
}

@media screen and (max-width:590px) {
    .qr_codes .card_box {
        margin: 5px auto;
        max-width: 400px;
        width: 100%;
        padding: 25px 15px;
    }
}

@media screen and (max-width:500px) {
    .cabs_type_div .card_box {
        flex-direction: column;
    }

    .cabs_type_div .card_info {
        width: 100%;
        margin-top: 15px;
    }
}

.mt5 {
    margin-top: 5px;
}

iframe {
    width: 100%;
}

#payment-credit-card-form #credit-card-card-cvv iframe, #payment-credit-card-form #credit-card-card-expiration iframe, #payment-credit-card-form #credit-card-card-number iframe, .buttons-wrapper #credit-card-submit iframe {
    width: 100%;
}

.buttons-wrapper #credit-card-submit iframe {
    width: 100%;
}
.error {
    color: red;
    border-color: red;
}

.termAndConndtion_a {
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
} 